html,
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

h4 {
    color: #18181A;
    font-size: 35px;
}

h5 {
    color: #682C38;
    font-size: 35px;
    margin: 0;
    padding: 0;
}

.titulo_seccion {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}


/*
Header
*/

header {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 100%;
    background-color: #682C38;
    width: 100%;
    height: 200px;
    margin: auto;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    position: relative;
    width: 400px;
    height: 200px;
    padding-left: 10px;
    padding-right: 10px;
}

.menu {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    padding-right: 10px;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    object-fit: inherit;
    object-fit: contain;
    align-items: center;
    width: 100%;
    height: 100%;
}

.menu ul li {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.menu ul li:hover {
    cursor: pointer;
    background-color: #B28220;
}


/*
Header
*/


/*
Banner
*/

.banner {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    margin-top: 100px;
    width: 100%;
    height: 750px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(/recursos/img/restaurante.jpg);
}

.banner_contenedor {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner_titulo {
    color: white;
    font-size: 35px;
    text-shadow: 0px 0px 20px black;
}

.banner_subtitulo {
    position: relative;
    bottom: 50px;
    color: white;
    font-size: 15px;
    font-family: 'Alegreya Sans', sans-serif;
}


/*
Banner
*/


/*
Conocenos
*/

.conocenos {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 20% 80%;
    width: 100%;
    background-color: white;
}

.conocenos_titulo {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    padding-top: 20px;
}

.conocenos_texto {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-bottom: 10px;
}


/*
Conocenos
*/


/*
Carta
*/

.carta {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    width: 100%;
    height: 2200px;
    margin-bottom: 40px;
}

.carta h5 {
    padding-bottom: 20px;
}

.carta_contenedor {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 100%;
    grid-row: 25% 25% 25% 25%;
    width: 100%;
    margin-top: 20px;
}

.carta_pizza {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 100%;
}

.carta_pizza_imagen {
    grid-column-start: 1;
    grid-column-end: 2;
    background-image: url(/recursos/img/pizza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.carta_pizza_texto {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carta_pizza_texto p {
    margin: 0;
    padding: 0;
}

.carta_pasta {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 100%;
}

.carta_pasta_imagen {
    grid-column-start: 2;
    grid-column-end: 3;
    background-image: url(/recursos/img/pasta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.carta_pasta_texto {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carta_pasta_texto p {
    margin: 0;
    padding: 0;
}

.carta_vinos {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 100%;
}

.carta_vinos_imagen {
    grid-column-start: 1;
    grid-column-end: 2;
    background-image: url(/recursos/img/vinos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.carta_vinos_texto {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carta_vinos_texto p {
    margin: 0;
    padding: 0;
}

.carta_postres {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 100%;
}

.carta_postres_imagen {
    grid-column-start: 2;
    grid-column-end: 3;
    background-image: url(/recursos/img/postre.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.carta_postres_texto {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carta_postres_texto p {
    margin: 0;
    padding: 0;
}


/*
Carta
*/


/* 
Footer
*/

footer {
    background: #18181A;
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 65% 15% 20%;
}

.footer_logo {
    grid-row-start: 1;
    grid-row-end: 2;
    width: 400px;
    height: 200px;
    display: block;
    margin: auto;
}

.footer_social {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 2;
    grid-row-end: 3;
}

.footer_social img {
    width: 30px;
    height: 30px;
    padding: 15px;
}

footer p {
    display: flex;
    justify-content: center;
    color: white;
}


/* 
Footer
*/